<h1> Welcome to Car Management System</h1>
<% if user_signed_in? %>
  <%=   button_to "Sign Out", destroy_user_session_path, method: :delete   %>
<% else %>
  <%=   button_to "Sign In", user_session_path, method: :get   %>
<% end %>
